@model shop.Models.User

@{
    Layout = "_CashierLayout";
    ViewData["Title"] = "Create";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">إضافة مستخدم</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">إضافة مستخدم</li>
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Users">المستخدمين</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="right_col" role="main">
    <div class="">
        @if (TempData.ContainsKey("Message"))
        {
            @if (TempData["MessageState"].ToString() == "1")
            {
                <div class="alert-success " style="text-align: right; font-family: Font Awesome 5 Free;"><h2> @TempData["Message"] </h2></div>
            }
            else
            {
                <div class="alert-danger " style="text-align: right; font-family: Font Awesome 5 Free;"> @TempData["Message"] </div>
            }
        }
        <div class="row">
            <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="form-horizontal" asp-action="Create" id="demo-form2" data-parsley-validate>
                            <div class="card-body">
                                <label>الاسم الكامل</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input asp-for="Name" class="form-control has-feedback-left" placeholder="الاسم الكامل ">
                                    <span asp-validation-for="Name" class="right text-danger"></span>

                                </div>
                                <label>رقم الهاتف</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-fa-phone"></i></span>
                                    </div>
                                    <input asp-for="Phone" class="form-control has-feedback-left" placeholder="رقم الهاتف">
                                    <span asp-validation-for="Phone" class="right text-danger"></span>

                                </div>
                                <label>الايميل</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                    </div>
                                    <input asp-for="Email" class="form-control has-feedback-left" placeholder="الايميل">
                                    <span asp-validation-for="Email" class="right text-danger"></span>
                                </div>
                                <label>اسم المستخدم</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input asp-for="UserName" class="form-control has-feedback-left" placeholder="اسم المستخدم">
                                    <span asp-validation-for="UserName" class="right text-danger"></span>
                                </div>
                                <label>الرمز</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user-lock"></i></span>
                                    </div>
                                    <input type="password" asp-for="Password" class="form-control has-feedback-left" placeholder="****">
                                    <span asp-validation-for="Password" class="right text-danger"></span>
                                </div>
                                <label>حالة الحساب</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-fa-dollar"></i></span>
                                    </div>
                                    <select asp-for="StateAcount" class="form-control has-feedback-left">

                                        <option value="@Boolean.FalseString"> تعطيـــــل</option>
                                        <option value="@Boolean.TrueString">تفعيـــــل</option>
                                    </select>
                                    <span asp-validation-for="StateAcount" class="right text-danger"></span>

                                </div>
                                <label>is Admin</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-balance-scale"></i></span>
                                    </div>
                                    <label>  مســؤل</label>
                                    <select asp-for="IsAdmin" class="form-control has-feedback-left">

                                        <option value="@Boolean.FalseString"> لا</option>
                                        <option value="@Boolean.TrueString">نعم</option>
                                    </select>
                                    <span asp-validation-for="IsAdmin" class="right text-danger"></span>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" value="Create" class="btn btn-info">حفــــــــظ</button>
                                <a asp-action="Index" class="btn btn-default float-right">الغـــــــاء</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

