@model shop.Models.Product
@{
    Layout = "_CashierLayout";
    ViewData["Title"] = "Create";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">إضافة منتج</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">إضافة منتج</li>
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Product">المنتجات</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="right_col" role="main">
    <div class="">
        @if (TempData.ContainsKey("Message"))
        {
            @if (TempData["MessageState"].ToString() == "1")
            {
                <div class="alert-success " style="text-align: right; font-family: Font Awesome 5 Free;"><h2> @TempData["Message"] </h2></div>
            }
            else
            {
                <div class="alert-danger " style="text-align: right; font-family: Font Awesome 5 Free;"> @TempData["Message"] </div>
            }
        }
        <div class="row">
            <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="form-horizontal" asp-action="Create" id="demo-form2" data-parsley-validate>
                            <div class="card-body">
                                <input asp-for="Code" value="@ViewBag.LastCode" type="hidden">
                                <input asp-for="Id" value="@ViewBag.LastCode" type="hidden">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-medkit"></i></span>
                                    </div>
                                    <select asp-for="CatId" class="form-control" asp-items="@ViewBag.CategoryList"> </select>
                                    <span asp-validation-for="CatId" class="right text-danger"></span>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-shopping-cart"></i></span>
                                    </div>
                                    <input asp-for="Name" class="form-control" placeholder="اسم المنتج">
                                    <span asp-validation-for="Name" class="right text-danger"></span>

                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-shopping-cart"></i></span>
                                    </div>
                                    <input asp-for="Quantity" class="form-control has-feedback-left" placeholder="كمية المنتج">
                                    <span asp-validation-for="Quantity" class="right text-danger"></span>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-fa-dollar"></i></span>
                                    </div>

                                    <input asp-for="Price" class="form-control has-feedback-left" placeholder="سعــــر المنتج">
                                    <span asp-validation-for="Price" class="right text-danger"></span>

                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-balance-scale"></i></span>
                                    </div>
                                    <input asp-for="Unit" class="form-control has-feedback-left" placeholder="وحدة المنتج">
                                    <span asp-validation-for="Price" class="right text-danger"></span>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" value="Create" class="btn btn-info">حفــــــــظ</button>
                                <a asp-action="Index" class="btn btn-default float-right">الغـــــــاء</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

