@model IEnumerable<shop.Models.Customer>

@{
    Layout = "_CashierLayout";
    ViewData["Title"] = "Index";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">الزبائن</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">الزبائن</li>
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<div class="right_col" role="main">
    <div>

        @if (TempData.ContainsKey("Message"))
        {
            @if (TempData["MessageState"]!.ToString() == "1")
            {
                <div class="alert-success " style="text-align: right; font-family: Font Awesome 5 Free;"><h2> @TempData["Message"] </h2></div>
            }
            else
            {
                <div class="alert-danger " style="text-align: right; font-family: Font Awesome 5 Free;"> @TempData["Message"] </div>
            }
        }
        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="card">
                    <div class="card-header">
                        <a asp-action="Create" class="btn btn-outline-info  btn-flat"><i class="fa fa-plus"></i> اضافة زبون </a>
                    </div>
                    <div class="card-body">
                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                        <thead>
                                            <tr>

                                                <th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                                    الاسم
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">
                                                    الهاتف
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">
                                                    الايميل
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">
                                                    العنوان
                                                </th>

                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">حدث</th>

                                            </tr>
                                        </thead>
                                        <tbody>


                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="dtr-control sorting_1" tabindex="0">
                                                        @item.Name
                                                    </td>
                                                    <td>
                                                        @item.Phone
                                                    </td>
                                                    <td>
                                                        @item.Email

                                                    </td>
                                                    <td>
                                                        @item.Address
                                                    </td>

                                                    <td>


                                                        @*<a class="btn btn-outline-info  btn-flat" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a>*@
                                                        <a class="btn btn-outline-success  btn-flat" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                                                        <a asp-route-id="@item.Id" class="btn btn-outline-danger  btn-flat" asp-action="Delete" onclick="return confirm('هل تريد حذف هذا المنتج بالفعل');"><i class="fa fa-trash"></i></a>

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



































